<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Member</title>
    <link th:href="@{/styles/standardStyle.css}" rel="stylesheet">
    <link th:href="@{/styles/cashierStyle.css}" rel="stylesheet">
</head>
<body>

<section class="form-box">
    <form action="/create-user" method="post" class="create-user">
        <h2>User information</h2>
        <div class="input-line">
            <label for="member-name">Name of member</label><br>
            <input type="text" id="member-name" name="member-name" placeholder="Member name here" required><br>
        </div>
        <div class="input-line">
            <label for="member-Birthday">Birtday of member</label><br>
            <input type="date" id="member-Birthday" name="member-birthday"><br>
        </div>
        <div class="input-line">
            <label for="member-phone">Number of member</label><br>
            <input type="text" id="member-phone" name="member-phone" placeholder="Enter phonenumber here" maxlength="8" minlength="8"  required><br>
        </div>
        <div class="input-line">
            <label for="member-email">Email of member</label><br>
            <input type="email" id="member-email" name="member-email" placeholder="Enter email here" required><br>
        </div>
        <button>Create new member</button>
    </form>
</section>



</body>
</html>