<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/standardStyle.css}" rel="stylesheet">
    <link th:href="@{/styles/cashierStyle.css}" rel="stylesheet">
    <title>Member overview</title>
</head>
<body>
<h1>XP Skak klub</h1>

<table class="members" id="members">
    <thead>
    <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Rank</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table-body" id="t-body">
    <!-- <tr>
        <td>Alexander</td>
        <td>1998-07-13</td>
        <td>42772069</td>
        <td>alex030t@stud.kea.dk</td>
    </tr> -->
    </tbody>
</table>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 id="modal-title"></h5>
        <section class="form-box">
            <form class="create-user">
                <p hidden>User ID: <span id="member-id"></span></p>
                <div class="input-line">
                    <label for="member-name">Name of member</label><br>
                    <input type="text" id="member-name" name="member-name" placeholder="Member name here" required><br>
                </div>
                <div class="input-line">
                    <label for="member-Birthday">Birtday of member</label><br>
                    <input type="date" id="member-birthday" name="member-birthday"><br>
                </div>
                <div class="input-line">
                    <label for="member-phone">Number of member</label><br>
                    <input type="text" id="member-phone" name="member-phone" placeholder="Enter phonenumber here"
                           maxlength="8" minlength="8" required><br>
                </div>
                <div class="input-line">
                    <label for="member-email">Email of member</label><br>
                    <input type="email" id="member-email" name="member-email" placeholder="Enter email here"
                           required><br>
                </div>
            </form>
        </section>
        <div class="modal-footer">
            <button id="btn-save" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
    </div>
</div>
<button id="create-member" class="btn-new-member">Create new user</button>
</body>
</html>
<script>
    function localCache(){
        let users = []
        const addEdit = (user,method) =>{
            if(method==="POST"){
                users.push(user)
            }
            else if(method==="PUT") {
                users = users.map(u => u.id == user.id ? user: u)
            }
        }
        return {
            getAll : () => users , //This is the same as above
            addAll : (all) => users = all,
            deleteOne: (id) => users = users.filter(u => u.id !== Number(id)),
            findById : (id) => users.find(u => u.id == id ),
            addEdit :addEdit
        }
    }

    const URL = 'http://localhost:8080/members'

    function setUpHandlers() {
        document.getElementById("create-member").onclick = makeNewUser
        document.getElementById("btn-save").onclick = saveUser
        document.getElementById("t-body").onclick = handleTableClick
        document.getElementById("t-body").onclick = handleTableClick
    }

    setUpHandlers()

    function handleTableClick(evt) {
        evt.preventDefault()
        evt.stopPropagation()
        const target = evt.target;
        //data-id-delete
        if (target.dataset.idDelete) {
            const idToDelete = Number(target.dataset.idDelete)
            const options = {
                method: "DELETE",
                headers: {'Accept': 'application/json'}
            }
            fetch(URL+"/"+idToDelete,options)
                .then(x=>{
                    cache.deleteOne(idToDelete)
                    fetchUsers()
                })
        }
        //Observe change compared to video
        if (target.dataset.idEdit) {
            const idToEdit = Number(target.dataset.idEdit)
            const user = cache.findById(idToEdit)
            showModal(user)
        }
    }


    const cache = localCache();
    fetchUsers()

    function makeNewUser() {
        showModal({
            id: null,
            name: " ",
            birtday: " ",
            phoneNr: " ",
            email: " ",
        })
    }

    function showModal(user) {
        const modal = document.getElementById("myModal");
        let span = document.getElementsByClassName("close")[0];
        document.getElementById("modal-title").innerText = user.id ? "Edit User" : "Add User"
        document.getElementById("member-id").innerText = user.id
        document.getElementById("member-name").value = user.name
        document.getElementById("member-birthday").value = new Date(user.birthday)
        document.getElementById("member-phone").value = user.phoneNr
        document.getElementById("member-email").value = user.email

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    function saveUser() {
        const user = {}
        user.id = Number(document.getElementById("member-id").innerText)
        user.name = document.getElementById("member-name").value
        user.birthday = document.getElementById("member-birthday").value
        user.phoneNr = document.getElementById("member-phone").value
        user.email = document.getElementById("member-email").value

        //Figure out how to update local data
        const method = user.id ? "PUT" : "POST"
        const url = (method === "PUT") ? URL + "/" + user.id : URL
        const options = {
            method: method,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        }
        fetch(url, options)
            .then(res => {
                if (!res.ok) {
                    throw "Error, member not created. Please make sure all inputs are correct"
                }
                return res.json()
            })
            .then(user => {
                fetchUsers()
            })
            .catch(e => alert(e))

    }

    /*function updateUser(evt){
        evt.preventDefault()
        evt.stopPropagation()
        const target = evt.target
        const idToEdit = Number(target.dataset.idEdit)
        const user = cache.findById(idToEdit)
        showModal(user)
    }*/

    function deleteUser(){
        evt.preventDefault()
        evt.stopPropagation()
        const target = evt.target
        const idToDelete = Number(target.dataset.idEdit)

        cache.deleteOne(idToDelete)

        const method = "DELETE"
        const url = URL + "/" + idToDelete
        const options = {
            method: method,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        }
        fetch(url, options)
            .then(res => {
                if (!res.ok) {
                    throw "Error, member not created. Please make sure all inputs are correct"
                }
                return res.json()
            })
            .then(user => {
                fetchUsers()
            })
            .catch(e => alert(e))
            fetchUsers()
    }

    function fetchUsers() {
        fetch(URL)
            .then(response => response.json())
            .then(data => {
                cache.addAll(data)
                buildRows()
            })
    }

    function buildRows() {
        const members = cache.getAll()
        const rows = members.map(member => {
            return `<tr class="member-box">
            <td>${member.name}</td>
            <td>${dateFormatter(member.birthday)}</td>
            <td>${member.phoneNr}</td>
            <td>${member.email}</td>
            <td>${member.rank}</td>
            <td><Button data-id-edit=${member.id}>Edit member</Button></td>
            <td><Button data-id-delete=${member.id}>Delete member</Button></td>
        </tr>`;
        })
        document.getElementById("t-body").innerHTML = rows.join("")
    }

    function dateFormatter(a) {
        tmpDate = new Date(a.toString()).toDateString()
        d = tmpDate.split(" ")
        return d[2] + " " + d[1] + " " + d[3]
    }

</script>