

.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.member-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input-line{
    margin:0 auto;
    align-self: center;
    font-family: "Malgun Gothic";
    font-size: 15px;
    font-weight: bold;
    color:black;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 30px;
}